/* Universal Styles */

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 2.5rem;
}

h2 {
  font-family: "Merriweather", serif;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.quote {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

.flex-content {
  display: flex;
  padding: 0 1.5rem;
}

.media-container {
  overflow: hidden;
}

.media-container img,
.media-container video {
  display: block;
  width: 100%;
}

/* Universal Styles - Flex-Containers */

.flex-content .main-content {
  width: 60%;
  padding: 2rem 1.5rem 2rem 0;
}

.flex-content .supporting-content {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 2rem 0;
}

/* Header */

header {
  padding: 1rem 0;
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
}

header .desktop {
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
}

header .logo img {
  margin-right: .5rem;
}

header .logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  letter-spacing: 1px;
  font-size: 1.1rem;
  font-weight: 600;
}

.name {
  font-weight: 400;
  opacity: 0.5;
}

header li {
  display: inline;
  padding-right: 1rem;
  font-size: 0.9rem;
}

header li:last-child {
  padding-right: 0;
}

/* Main Banner */

#banner {
  background-color: rgb(219, 219, 219);
  position: relative;
  top: 4rem;
}

#banner .supporting-content {
  justify-content: center;
}

#banner h1 {
  padding-bottom: 2rem;
}

#banner p {
  padding-bottom: 1.5rem;
  font-weight: 600;
  font-size: 1.3rem;
}

#banner a {
  padding: .5rem 0;
  background-color: rgb(155, 155, 155);
  text-align: center;
  color: white;
  display: block;
  width: 75%;
}

/* Practice Section */

/* Learning Section */

/* Exhibit Section */

/* Footer */
