/* Universal Styles */

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

.flex-content {
  display: flex;
  padding: 0 1.5rem;
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: bold;
}

h2 {
  font-family: "Merriweather", serif;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.quote {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

/* Header Logo */

/* Header Navigation */

header {
  padding: 1rem 0;
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
}

header .desktop {
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
}

header .logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  letter-spacing: 1px;
  font-size: 1.1rem;
  font-weight: 600;
}

.name {
  font-weight: 400;
  opacity: 0.5;
}

header .logo img {
  margin-right: .5rem;
}

header li {
  display: inline;
  padding-right: 1rem;
  font-size: 0.8rem;
}

header li:last-child {
  padding-right: 0;
}

/* Main Banner */

/* Practice Section */

/* Learning Section */

/* Exhibit Section */

/* Footer */
