/* Universal Styles */

html {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: black;
}

.flex {
  display: flex;
}

/* Header Logo */

/* Header Navigation */


/* Main Banner */

/* Practice Section */

/* Learning Section */

/* Exhibit Section */

/* Footer */
